{% extends "base.html" %}

{% block title %}View quote - {% endblock %}

{% block page_content %}
<div class="card">
    <div class="card-content">
        <blockquote class="flow-text">
            {{ quote.content }}    
        </blockquote>
        <ul class="collection">
            {% if quote.comment %}
            <li class="collection-item">
                <blockquote>
                    {{ quote.comment }}
                </blockquote>  
                {% endif %}
            </li>
            {% if quote.author %}
            <li class="collection-item flow-text">
                <i class="material-icons">account_circle</i> {{ quote.author }}
            </li>
            {% endif %}
            {% if quote.source or quote.link %}
            <li class="collection-item">
                <span class="flow-text"><i class="material-icons">open_in_browser</i> 
                {{ quote.source }} 
                </span>
                {% if quote.link %}
                | <a href="{{ quote.link }}">{{ quote.link }}</a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-action">
        <a href="{{url_for('quote.jsonify',id = quote.id )}}">JSONify it 😋</a>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('quote.edit',id = quote.id )}}">哪里不对劲？ 😋</a>
        <a href="{{url_for('quote.delete',id = quote.id )}}">忘了它吧 😋</a>
        {% endif %}
    </div>
</div>
{% endblock %}
